@media screen and (min-width: 900px) {
  .main_container {
    background-color: rgb(93, 135, 161);
    border-color: black;
    color: white;
    margin: auto;
    box-shadow: 8px 8px 4px grey;
    width: 50%;
  }
  .main_header {
    color: white;
    text-align: center;
    font-size: xx-large;
    margin-top: 5%;
    margin-bottom: 3%;
  }
  .main_form {
    color: white;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 20%;
  }
  .main_button {
    color: gray;
    background-color: white;
  }
  .selected_button, .selected_button:hover {
    color: white;
    background-color: rgb(93, 135, 161);
    border-color: black;
  }
  .unselected_button, .unselected_button:hover {
    color: gray;
    background-color: white;
    border-color: black;
  }
  .container_cur {
    background-color: rgb(147, 202, 237);
    border-color: black;
    color: black;
    margin-top: 2%;
  }

  @font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }

  .material-icons {
    font-family: 'Material Icons', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  .table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: rgb(92, 134, 161);
    align-content: center;
    text-align: center;
    vertical-align: center;
  }

  .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: rgb(147, 202, 237);
    align-content: center;
    text-align: center;
    vertical-align: center;
  }

  .table-striped > thead > tr > th{
    background-color: rgb(92, 134, 161);
    font-weight: bold;
    align-content: center;
    text-align: center;
  }

  .btnDel, .btnDel:hover {
    background-color: white;
    color: rgb(220, 154, 41);
    align-content: center;
  }

  .btnTwitter {
    background-color: white;
    color: rgb(43, 150, 235);
  }

  .btnCity, .btnCity:hover {
    background-color: transparent;
    color: blue;
  }

  .iconWeather {
    width: 40px;
    height: 40px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .tweetLogo {
    width: 30px;
    height: 30px;
    vertical-align: center;
  }

  .currentCard {
    width: 70%;
    margin: auto;
  }

  .currentCardFontCity {
    font-size: 32px;
  }

  .currentCardFontTemp {
    font-size: 42px;
  }

  .currentCardTempDegree {
    width: 15px;
    height: 15px;
  }

  .currentCardFontSum {
    font-size: 26px;
  }

  .currentCardSymbol {
    width: 40px;
    height: 40px;
  }

  .currentCardSymbolValue {
    font-size: medium;
  }

  .favTabState {
    width: 20%;
  }

  .favTab {
    table-layout: fixed;
  }

  .weeklyTab {
    width: 900px;
    height: 400px;
  }

  .nav-item {
  }
}

@media screen and (max-width: 600px) {
  .main_container {
    background-color: rgb(93, 135, 161);
    border-color: black;
    color: white;
    margin: auto;
    box-shadow: 8px 8px 4px grey;
    width: 95%;
  }
  .main_header {
    color: white;
    text-align: center;
    font-size: xx-large;
    margin-top: 5%;
    margin-bottom: 3%;
  }
  .main_form {
    color: white;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 20%;
  }
  .main_button {
    color: gray;
    background-color: white;
  }
  .selected_button, .selected_button:hover {
    color: white;
    background-color: rgb(93, 135, 161);
    border-color: black;
  }
  .unselected_button, .unselected_button:hover {
    color: gray;
    background-color: white;
    border-color: black;
  }
  .container_cur {
    background-color: rgb(147, 202, 237);
    border-color: black;
    color: black;
    margin-top: 2%;
  }

  @font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }

  .material-icons {
    font-family: 'Material Icons', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  .table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: rgb(92, 134, 161);
    align-content: center;
    text-align: center;
    vertical-align: center;
  }

  .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: rgb(147, 202, 237);
    align-content: center;
    text-align: center;
    vertical-align: center;
    font-size: small;
  }

  .table-striped > thead > tr > th{
    background-color: rgb(92, 134, 161);
    font-weight: bold;
    align-content: center;
    text-align: center;
    font-size: small;
  }

  .btnDel, .btnDel:hover {
    background-color: white;
    color: rgb(220, 154, 41);
    align-content: center;
  }

  .btnTwitter {
    background-color: white;
    color: rgb(43, 150, 235);
  }

  .btnCity, .btnCity:hover {
    background-color: transparent;
    color: blue;
    font-size: small;
    vertical-align: top;
  }

  .iconWeather {
    width: 40px;
    height: 40px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .tweetLogo {
    width: 30px;
    height: 30px;
    vertical-align: center;
  }

  .currentCard {
    width: 100%;
    margin: auto;
  }

  .currentCardFontCity {
    font-size: 18px;
  }

  .currentCardFontTemp {
    font-size: 24px;
  }

  .currentCardTempDegree {
    width: 10px;
    height: 10px;
  }

  .currentCardFontSum {
    font-size: 18px;
  }

  .currentCardSymbol {
    width: 15px;
    height: 15px;
  }

  .currentCardSymbolValue {
    font-size: 6px;
  }

  .favTabState {
    width: 100%;
  }

  .favTab {

  }

  .weeklyTab {
    width: 500px;
    height: 200px;
  }

  .nav-item {
    font-size: small;
  }
}
